customtkinter==5.2.2
tkinterdnd2==0.3.0
pandas==2.2.1
numpy==1.26.4
Pillow==10.2.0
reportlab==4.0.9
PyPDF2==3.0.1
openpyxl==3.1.2
mysql-connector-python==8.2.0
requests==2.31.0
gspread==5.10.0
oauth2client==4.1.3
